{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
      <div class="account-container">

        <div class="login-options"><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        
          <a href="{% url 'account_signup' %}">Sign up</a></div>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div class="login-options"><button class="search-button btn btn-success" type="submit">{% trans "Sign In" %} &raquo;</button></div>
        </form>

      </div>
    </div>
  </div>
</section>

{% endblock %}