@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

.sign-out {
    margin-top: 10%;
}

label {
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 3rem;
}

/* hero image on login */
.fly-hero {
    background-image: url(https://res.cloudinary.com/deth0ifla/image/upload/v1688891848/static/media/FlyLogo.1a45b3335301.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height: 25vh;
    margin-top: 15vh;
}

.fly-hero-title {
    text-align: center;
}

.fly-auth-container {
    text-align: center;
    margin-top: 20px;
}

/* buttons */
.button-box {
    margin-top: 3rem;
}

.fly-auth-btn {
    border-radius: 40px 40px 40px 40px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 25px;
}



/* links/anchors */
a {
    color: #2EF74F;
}

/* forms */
.login-spacer {
    margin-bottom: 10vh;
}

.fly-auth-signup-text {
    text-align: center;
}

form > p > label {
    display: none;
}

input {
    text-align: center;
    border-style: solid;
    border-color: #ffffff45;
    border-image: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

input:focus-visible {
    outline: none;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

label {
    display: block;
    text-align: center;
}


label[for="id_remember"] {
    display: inline;
 }

 .edit-name-form {
    position: relative;
    top: 20%;
 }

 .edit-name-form>p {
    text-align: center;
 }

/* notifications */
.errorlist {
    list-style-type: none;
    padding-left: 0;
}

 