@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

/* ___________________________________ */
/* generic structure/style elements */
.account-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

/* title svg */
#account-subtitle {
    width: 280px;
}

#account-subtitle > .white-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2rem;
    fill: #fff;
}

#account-subtitle > .outlined-title {
    
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2rem;
    stroke: #52d458;
    stroke-width: 1.75;
    fill: none;
}

/* forgot password / sign up links */
.login-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: center;
}


/* .account-panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
} */

/* .sign-out {
    margin-top: 10%;
} */

label {
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 3rem;
}

/* _____________________________ */
/* hero image on login */
.fly-hero {
    background-image: url(https://res.cloudinary.com/deth0ifla/image/upload/v1688891848/static/media/FlyLogo.1a45b3335301.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height: 25vh;
    width: 100%;
    margin-top: 15vh;
}

.fly-hero-title {
    text-align: center;
}

.fly-auth-container {
    text-align: center;
    margin-top: 20px;
}

/* ______________________ */
/* buttons */

/* .button-box {
    margin-top: 3rem;
} */

/* .fly-auth-btn {
    border-radius: 40px 40px 40px 40px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 25px;
} */

.change-mind {
    margin-top: 20px;
}

/* links/anchors */
a {
    color: #2EF74F;
}

/* forms */
/* .login-spacer {
    margin-bottom: 10vh;
} */

/* .fly-auth-signup-text {
    text-align: center;
} */

form > p > label {
    display: none;
}

input {
    text-align: center;
    border-style: solid;
    border-color: #ffffff45;
    border-image: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

input:focus-visible {
    outline: none;
    text-align: center;
}

input::placeholder {
    text-align: center;
}

.alter-placeholder::placeholder {
    color: #fafafabe;
}

label {
    display: block;
    text-align: center;
}

label[for="id_remember"] {
    display: inline;
 }


 /* ______________________ */
 /* Edit profile template */
 .edit-name-form {
    position: relative;
    top: 20%;
 }

 .edit-name-form>p {
    text-align: center;
 }

/* notifications */
.errorlist {
    list-style-type: none;
    padding-left: 0;
}

 