body {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: red;
}

#test {
    background-color: red;
}

/* nav bar structure */
.offcanvas-collapse {
    right: 100%;
}

.offcanvas.offcanvas-end {
    left: 0;
}

.offcanvas.offcanvas-end {
    transform: translateX(100%);
}

/* videos structure and styling */
.main-body {
    height: 50vh;
}

/* footer styling */
.socials-footer {
    position: sticky;
    top: 100%;
}

.socials>p {
    text-align: center;
    font-size: 2rem;
}

.socials p>i {
    color: #2EF74F;
}

.fly-icon {
    height: 2rem;
    width: auto;
}