@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    background-color: #000;
    color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.btn-close {
    --bs-btn-close-color: #fff;
    --bs-btn-close-bg: none;
    color: fff;
    cursor: pointer;
}

/* nav bar structure */
nav>.offcanvas-collapse {
    right: 100%;
}

nav>.offcanvas.offcanvas-end {
    left: 0;
}

nav>.offcanvas.offcanvas-end {
    transform: translateX(100%);
}

.navbar-brand {
    color: #2EF74F;
    text-transform: uppercase;
}

.navbar-toggler-icon {
    background-image: url(../media/nav-btn.png);
}

.bg-body-tertiary {
    background-color: #000 !important;
}

/* nav search field */
.form-control {
    color: #fff;
    background-color: #000;
    border-top: none;
    border-right: none;
    border-radius: 0rem;
    border-color: #fafafa;
}

.form-control:focus {
    color: #fff;
    outline: none;
    background-color: #000;
    border-color: #2EF74F;
    box-shadow: 0 0 0 0.25rem #2ef74f20;
}

.form-control::placeholder {
    color: fff !important;
    opacity: 1;
}

/* videos structure and styling */
#video-id {
    display: hidden !important;
}

.wrapper {
    /* padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5); */
    margin-top: var(--bs-gutter-y);
    width: 100%;
    height: 97%;
    position: relative;
    top: 0;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0% 5% 5% 0%;
    
}

.overlay > .row {
    height: 100%;
}

.view-button-wrapper {
    text-align: center;
    padding-bottom: 5%;
}

.view-button-wrapper > button {
    background-color: #2EF74F;
    border: none;
    font-size: 2rem;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 2em;
    letter-spacing: 2px;
}

#view-movement {
    position: absolute;
    top: 75%;
    left: 80%;
}


/* User movement features */

.one-rm-feats {
    text-align: right;
}

.one-rm-feats > p {
    vertical-align: top;
}

button>i {
    font-size: 1.5rem;
}

button>i {
    font-size: 1.5rem;
}

.one-rm-rbtn{
    font-size: 1.25rem;
}

.list-of-one-rms {
    text-align: left;
}

#slug {
    display: none;
}

/* footer styling */
.socials-footer {
    position: sticky;
    top: 100%;
}

.socials>p {
    text-align: center;
    font-size: 2rem;
}

i {
    color: #2EF74F;
}

.fly-icon {
    height: 2rem;
    width: auto;
}