@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Montserrat:wght@100;300;400&family=Oswald:wght@700&family=Roboto:wght@100;300;400&display=swap');

/* Generic styles */
body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

*::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

* {
    scrollbar-width: none;
    background-color: #00000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    overflow: auto;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #ffffff00;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

a:hover {
    color: #fff;
    letter-spacing: 3px;
    border-bottom: 1px solid #ffffff45;
}

.row {
    --bs-gutter-y: 1.5rem;
}

/* _______ */
/* Titles */
svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.base-title {
    font-size: 2rem !important;
}

.white-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
    fill: #fff;
}

.outlined-title {
    
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
    stroke: #52d458;
    stroke-width: 1.75;
    fill: none;
}

/* ___________ */
/* Menu Icons */
.fa-solid {
    font-size: 1.3rem;
}


/* ________________________ */
/* navbar */
nav {
    height: 10vh;
    padding-top: 0px !important;
}

.bg-dark {
    background-color: #000000 !important;
}

#nav-container {
    background-image: url(https://res.cloudinary.com/deth0ifla/image/upload/v1689336988/static/media/flyfly.7cbf8301f811.webp);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: top left;
    height: 12vh;
}

nav > div > a {
    margin-left: 75px;
}

nav > div > a > h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0rem;
    line-height: 1;
}

.title-subhead {
    background-color: #2df64e;
    padding-bottom: 5px;
    padding-left: 0.5rem;
    color: #000;
}
.navbar-toggler-icon {
    background-image: none;
}

@media screen and (max-width: 280px) {
    .navbar-brand {
    margin-left: 20%;
    }
}


/* ______________ */
/* Forms styling */
input::placeholder {
    color: #fafafabe;
}


/* _____________ */
/* buttons */
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0px;
    line-height: 2rem;
    color: #000;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2df64e;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #95fdad;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5ad16e;
    --bs-btn-active-border-color: #5ad16e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5ad16e;
    --bs-btn-disabled-border-color: #5ad16e;
}

.btn-success:hover {
    border: solid 1px #2df64e !important;
    letter-spacing: 3px;
}

.js-psuedo-hover {
    border: solid 1px #2df64e !important;
    background-color: #000;
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px;
}

.search-button {
    background-color: #2df64e;
    height: 3.5rem;
    text-align: center;
    border-radius: 0px;
}

.search-icon {
    font-size: 1.5rem;
    position: relative;
    top: 0.1rem;
    color: #000;
}

.search-icon-hover {
    color: #fff;
}

.large-search {
    display: none;
    color: #000;
}
@media screen and (min-width: 992px) {
    .large-search {
        display: inline;
    }

}

/* ___________________ */
/* offcanvas elements */
.offcanvas {
    z-index: 9999 !important;
}

.text-bg-dark {
    background-color: #0000006f !important;
    backdrop-filter: blur(10px) !important;
}

.offcanvas-body > ul {
    padding-left: 0;
}


.offcanvas-body > ul > li {
    list-style-type: none;
    padding-left: 0px;
    line-height: 2rem;
}

.offcanvas-body > ul > li > hr {
    border-top: 1px solid #ffffff45;
}

.dropdown-item {
    line-height: 2rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.dropdown-item:active {
    background-color: #00000000;
    --bs-dropdown-bg: #000;
    color: #fff;
    border-left: 1px solid #2EF74F !important;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.dropdown-item:focus {
    --bs-dropdown-bg: #000;
    --bs-dropdown-link-color: #fff;
    border-bottom: 0px;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.dropdown-item:hover {
    background-color: #00000000;
    --bs-dropdown-bg: #000;
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.dropdown-item:focus-visible {
    outline: none;
}

.dropdown-divider {
    border-top: 1px solid #ffffff45;
    margin: 0.5rem 0px;
}

/* one-rep-max records offcanvas */
.orm-record {
    overflow-wrap: break-word;
}
.orm-record > p {
    margin-bottom: 0px;
    overflow-wrap: break-word;
}


/* ________________________ */
/* Search form */
.d-flex {
    justify-content: flex-end;
}

.form-control {
    width: auto;
}

#library-search {
    background-color: #00000000;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

#library-search:focus {
    color: #fff;
    background-color: #00000000;
    border-color: #00000000;
    outline: 0;
    box-shadow: none;
    border-color: #fff;;
}

.false-query {
    display: none;
}

.true-query {
    display: inline;
}


/* _______________________ */
/* index */
/* welcome message */
.index-panel {
    border-radius: 15px;
    overflow: hidden;
}

.index {
    height: 83vh;
    overflow-y: auto;
}

.index > .row > .welcome {
    padding-top: 10px;
}


/* what's on panel */
.whats-on-panel {
    position: relative;
}

.whats-on-panel > div {
    position: absolute;
    right: 5%;
    top: 5%;
}

.whats-on-panel > div > h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0rem;
    line-height: 1;
    text-align: right;
}

.whats-on-panel > div > .title-subhead {
    text-align: left !important;
}


/* last movement card */
.last-movement-card {
    height: 23vh;
}

.lm-link {
    width: 100%;
    height: 100%;
}

.card-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.library-panel {
    height: 100%;
}

/* mini cards */
.mini-card {
    height: 23vh;
}

.mini-card > a > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-card > a > .card-bg {
    background-position: bottom left;
}


/* _______________________ */
/* footer */
footer * {
    background-color: #00000000;
}

footer {
    height: 7vh;
    background-color: #0000002f;
}

footer > .row {
    --bs-gutter-y: 0rem;
    height: 100%;
    background-color: #0000005b;
    backdrop-filter: blur(5px) !important;

}

footer > .row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #00000000;
}

.flycon {
    background-image: url(https://res.cloudinary.com/deth0ifla/image/upload/v1688891848/static/media/fly-f-i.ee435a06d74e.webp);
    -webkit-filter: grayscale(100%) brightness(100%);
    filter: grayscale(100%);
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.flycon:hover {
    filter: grayscale(0%);
}

.flycon-link:hover {
    border-bottom: 0px solid #00000000 !important;
}

.flycon-link:hover {
    border-bottom: 0px solid #00000000 !important;
}

footer > .row > .col-4 > button > span > .fa-solid {
    color: #bebebe;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

footer > .row > .col-4 > button > span > .fa-solid:hover {
    color: #2EF74F;
}

/* ___________________ */
/* 404/500 */

.four-o-five-hundred {
    height: 83vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.four-o-five-hundred > .row {
    width: 100%;
    height: 100%;
}

.four-o-five-hundred > .row > div {
    width: 100%;
}

.hero-404-500 {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    height: 50%;
    max-height: 400px;
    background-image: url(https://res.cloudinary.com/deth0ifla/image/upload/v1689612811/static/media/404-500-img.3c3379367aca.webp);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    border-bottom: 1px solid #bebebe;
}

.fail-text {
    text-align: center;
}
