{% extends "base.html" %}
{% block content %}

<section class="conatiner-fluid four-o-five-hundred">
    <div class="row">
        <div class="col-12">
            <div class="hero-404-500"></div>
            <div>
                <p class="fail-text">404</p>
                <p class="fail-text">Sorry Champ, we couldnt find that.</p>
                <p class="fail-text"><a href="{% url 'home' %}" aria-label="return to Dashboard"><button aria-label="return to Dashboard button" class="search-button btn btn-success change-mind">Back to Dashboard</button></a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}