{% extends "base.html" %}
{% block content %}

<section class="conatiner-fluid four-o-five-hundred">
    <div class="row">
        <div class="col-12">
            <div class="hero-404-500"></div>
            <div>
                <p class="fail-text">500</p>
                <p class="fail-text">Server's having a bad time...</p>
                <p class="fail-text"><a href="{% url 'home' %}" aria-label="return to Dashboard"><button class="search-button btn btn-success change-mind" aria-label="return to Dashboard button">Back to Dashboard</button></a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}