{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/account-style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/library.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/movement.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/account-style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/85f184e105.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>

    <script src="{% static 'js/fml_script.js' %}"></script>
    <script src="{% static 'js/base-search.js' %}"></script>
    <script src="{% static 'js/movement.js' %}"></script>

    <title>Fly Movement Library</title>
</head>

<body>


    <!-- messages -->
    <div class="container" id="user-alerts">
        <div class="row">
            <div style="width: 100%;">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i
                            class="fa-solid fa-x"></i></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <nav id="nav-container" class="navbar navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <h1>Movement</h1>
                <h1 class="title-subhead">Library</h1>
            </a>
            <button class="search-button btn btn-success" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation"><span class="large-search">Search</span> <i
                    class="search-icon fa-solid fa-magnifying-glass fa-flip-horizontal"></i></button>

            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Movement Search</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body search-offcanvas">
                    <form class="d-flex mt-3" role="search" method="GET" action="{% url 'search_results' %}">
                        <input id="library-search" class="form-control me-2" type="search" placeholder="Search"
                            autocomplete="off" name="query" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                    <ul>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% for movement in movement_library_list %}
                        <li><a id="{{ movement.slug }}" class="dropdown-item query"
                                href="{% url 'movement_detail' movement.slug %}">
                                {{ movement.movement_name }}
                                <hr class="dropdown-divider">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}
    <!-- offcanvas 1 -->
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="account-offcanvas"
        aria-labelledby="offcanvas">
        <div class="offcanvas-header">
            <!-- header -->
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Account</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body search-offcanvas">
            <!-- body -->
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                <li><a class="dropdown-item" href="{% url 'home' %}">Dashboard</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
            </ul>
        </div>
    </div>

    <!-- offcanvas 2 -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="bookmarks-offcanvas"
        aria-labelledby="offcanvas">
        <div class="offcanvas-header">
            <!-- header -->
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Bookmarked Movements</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body search-offcanvas">
            <!-- body -->
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                {% for bookmark in bookmarks %}
                <li><a class="dropdown-item"
                        href="{% url 'movement_detail' bookmark.slug %}">{{ bookmark.movement_name }}</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- offcanvas 3 -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="library-offcanvas" aria-labelledby="offcanvas">
        <div class="offcanvas-header">
            <!-- header -->
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">1-Rep Max Records</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body search-offcanvas">
            <!-- body -->
            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                {% for record in one_rm_records %}
                <li>
                    <a class="dropdown-item" href="{% url 'movement_detail' record.movement.slug %}">
                        <div class="orm-record">
                            <p>{{ record.movement }}</p>
                            <p>{{ record.date_recorded }}</p>
                        </div>
                        <div class="orm-value">{{ record.one_rep_max }}</div>
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                {% endfor %}
            </ul>

            </ul>
        </div>
    </div>

    <footer class="container-fluid fixed-bottom">
        <div class="row">

            <div class="col-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#account-offcanvas" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-clipboard-user"></i></span>
                </button>
            </div>

            <div class="col-4">
                <a class="flycon-link" href="https://www.fly.fit/" target="_blank"><button class="navbar-toggler" type="button"
                        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon flycon"></span>
                    </button></a>

            </div>

            <div class="col-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#bookmarks-offcanvas" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-book-bookmark"></i></span>
                </button>

            </div>

        </div>
    </footer>
</body>

</html>