{% extends "base.html" %}

{% block content %}
<!-- welcome message -->
<section class="row welcome align-items-center">
    <div class="col-12">
        <h1>Welcome Back, .</h1>
    </div>
</section>

<!-- video content -->
<div class="row main-body">
    <!-- video -->

    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 dash-vid">
        <iframe class="video-iframe" style="aspect-ratio: 16 / 9;"
            src="https://www.youtube.com/embed/cj-netkLgL8?rel=0&autoplay=1&loop=1&mute=1&controls=0&&playlist=cj-netkLgL8">
        </iframe>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4 col-xl-2 offset-xl-5 team-up-link">
        <a href="https://goteamup.com/p/5379028-the-fly-project/" target="_blank" rel="noopener"><button class="btn btn-primary book-button">Book a class</button></a>
    </div>
</div>

{% endblock %}