{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <!-- maybe use this row as a "welcome back [NAME]" -->
    <div class="row">
        <div class="col-12">
            <h1>Hello World!</h1>
        </div>
    </div>
</div>
<!-- video content -->
<div class="container-fluid">
    <div class="row">
        <!-- video -->
        <div class="col-12 col-lg-7 col-xl-7">
                <iframe style="width: 100%; aspect-ratio: 16 / 9;" src="https://www.youtube.com/embed/cj-netkLgL8?rel=0&autoplay=1&loop=1&mute=1&controls=0&&playlist=cj-netkLgL8">
                </iframe>
        </div>
        <!-- explanation -->
        <div class="col-12 col-lg-5 col-xl-5">
           <h2>[ MOVEMENT NAME ]</h2>
            <ul>
                <li>Start with eyes directly under the bar </li>
                <li>Build a platform by creating an arch in the upper back </li>
                <li>Bar moves towards sternum, pause then drive</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}