{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- welcome message -->
<section class="container-fluid index">
    <div class="row welcome align-items-center">
        <div class="welcome col-12 order-lg-first">
            {% if user_new %}
            <h2>Welcome to the Movement Library, {{ user_name }}.</h2>
            {% else %}
            <h2>Welcome Back, {{ user_name }}.</h2>
            {% endif %}
        </div>
    </div>


    <div class="row">

        <!-- "what's on" video -->
        <div class="col-12 col-lg-6 order-lg-2 whats-on-panel" style="position: relative;">
            <div style="position: absolute;">
                <h1>What's</h1>
                <h1 class="title-subhead">Happening</h1>
            </div>

            <iframe class="index-panel" id="{{ promo_video.slug }}" style="width: 100%; aspect-ratio: 16 / 9;"
                src="https://player.vimeo.com/video/{{ promo_video.vid_link }}&muted=1&autoplay=1&loop=1&background=1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0" allow="autoplay;" loop="1" autoplay="1"
                style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Nordic Curls ML3"></iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>

            

        </div>

        <div id="library-panel-filler" class="col-12 order-last col-lg-6 order-lg-3">
            <a href="{% url 'library' %}">
                <div class="library-panel index-panel card-bg" style="background-image: url({{ last_movement.thumbnail }});">
                <p>
                    <!-- <span class="outlined-title">Last Viewed</span> -->
                    <svg>
                        <text x="5%" y="40%" class="outlined-title">
                            Full List of
                        </text>
                        <text x="10%" y="60%" class="white-title">
                            Movements
                        </text>
                    </svg>
                </p>
                </div>
            </a>
        </div>

        <!-- Last viewed movement card -->
        <div class="last-movement-card col-12 col-lg-6 order-lg-4">
            <a href="{% url 'movement_detail' last_movement.slug %}">
                <div class="index-panel lm-link card-bg" style="background-image: url({{ last_movement.thumbnail }});">
                <p>
                    <!-- <span class="outlined-title">Last Viewed</span> -->
                    <svg>
                        <text x="5%" y="40%" class="outlined-title">
                            Last viewed
                        </text>
                        <text x="10%" y="60%" class="white-title">
                            movement
                        </text>
                    </svg>
                </p>
                </div>
            </a>
        </div>

        <!-- last user 1-rm card -->
        <div class="mini-card col-6 col-lg-3 order-lg-5">
            <a href="{% url 'movement_detail' last_orm.slug %}">
                <div class="card-bg index-panel" style="background-image: url({{ last_orm.thumbnail }});">
                    <svg>
                        <text x="5%" y="30%" class="outlined-title">
                            Last
                        </text>
                        <text x="10%" y="42.5%" class="white-title">
                            1-RM
                        </text>
                    </svg>
                </div>
            </a>
        </div>

        <!-- booking card card -->
        <div class="mini-card col-6 col-lg-3 order-lg-last">
            <a id="book-a-class" href="https://goteamup.com/p/5379028-the-fly-project/">
                <div class="card-bg index-panel" style="background-image: url({{ insta_card.thumbnail }});">
                    <button id="book-a-class-btn" class="btn btn-success">Book a Class</button>
                </div>
            </a>
        </div>

    </div>

</section>

{% endblock %}