{% extends "base.html" %}
{% block content %}
<section class="container-fluid">

  <div class="row">
    <div
      class="library-title-container col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

      <svg>
        <text x="80px" y="70px" class="outlined-title">
          Get
        </text>
        <text x="50px" y="100px" class="white-title">
          Moving
        </text>
        
      </svg>
    </div>

    <div class="row library-list">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <ul>
          <li>
            <hr class="">
          </li>
          {% for movement in movement_library_list %}
          <a href="{% url 'movement_detail' movement.slug %}">
            <li>{{ movement }}</li>
          </a>
          <li>
            <hr class="dropdown-divider">
          </li>


          {% empty %}
          <li>No results found.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}