{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

  <!-- video content -->
  <div class="container-fluid">
    <div class="row">
      <!-- video -->
      <div class="col-12 col-lg-7 order-lg-1 col-xl-7">
        <!-- Temp if statement being used while library being transferred to different provider -->
        {% if library_movement.vid_link|length >= 12 %}
        <!-- Vimeo player -->
        <iframe style="width: 100%; aspect-ratio: 16 / 9;"
          src="https://player.vimeo.com/video/{{ library_movement.vid_link }}&muted=1&autoplay=1&loop=1&background=1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
          frameborder="0" allow="autoplay;" loop="1" autoplay="1"
          style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Nordic Curls ML3"></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>
        {% else %}
        <!-- Youtube player -->
        <iframe style="width: 100%; aspect-ratio: 16 / 9;"
          src="https://www.youtube.com/embed/{{ library_movement.vid_link }}?rel=0&autoplay=1&loop=1&mute=1&controls=0&playlist={{ library_movement.vid_link }}">
        </iframe>
        {% endif %}
      </div>

      <!-- user features -->
      <div class="col-12 col-lg-7 order-lg-3 col-xl-7">
        <div class="row justify-content-between">

          <!-- 1-RM display -->
          <div class="col-10 col-sm-11 col-lg-3 order-lg-3 offset-lg-4 one-rm-feats">
            <p>{{ one_rm_records.0.one_rep_max }} KG</p>
          </div>

          <!-- Bookmark feature -->
          <div class="col-2 col-sm-1 col-md-1 col-lg-1">
            <strong>
              {% if user.is_authenticated %}
              <form class="d-inline" action="{% url 'movement_bookmark' library_movement.slug %}" method="POST">
                {% csrf_token %}
                {% if bookmarked %}
                <button class="btn" type="submit" name="bookmark_button" value="{{ library_movement.slug }}"
                  class="bookmark-btn"><i class="fa-solid fa-bookmark"></i></button>
                {% else %}
                <button class="btn" type="submit" name="bookmark_button" value="{{ library_movement.slug }}"
                  class="bookmark-btn"><i class="fa-regular fa-bookmark"></i></button>

                {% endif %}
              </form>
              {% else %}

              {% endif %}
            </strong>
          </div>

          <!-- notes button -->
          <div class="col-2 col-sm-1 col-md-1 col-lg-1">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#ocn"
              aria-controls="offcanvasWithBothOptions"><i class="fa-regular fa-pen-to-square"></i></button>
            <!-- offcanvas for notes -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="ocn"
              aria-labelledby="offcanvasWithBothOptionsLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
              </div>
              <div class="offcanvas-body">
                <p>Try scrolling the rest of the page to see this option in action.</p>
              </div>
            </div>
          </div>

          <!-- add 1-RM -->
          <div class="col-2 col-sm-1 offset-sm-8 col-md-1 offset-md-8 col-lg-1 offset-lg-0 order-lg-5 one-rm-feats">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#oc-orm-a"
              aria-controls="offcanvasWithBothOptions"><i class="fa-regular fa-square-plus"></i></button>
            <!-- offcanvas for 1rm -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="oc-orm-a"
              aria-labelledby="offcanvasWithBothOptionsLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
              </div>
              <div class="offcanvas-body">
                <form method="POST" action="{% url 'movement_detail' library_movement.slug %}">
                  {{ one_rm_form }}
                  {% csrf_token %}
                  <div>
                    <p>
                      <button type="submit"><strong>add</strong></button>
                    </p>
                  </div>
                </form>

              </div>
            </div>
          </div>

          <!-- 1-RM Records -->
          <div class="col-2 col-sm-1 col-md-1 col-lg-1 order-lg-last one-rm-feats">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#oc-orm-hof"
              aria-controls="offcanvasWithBothOptions"><i class="fa-brands fa-square-font-awesome-stroke"></i></button>
            <!-- offcanvas for records -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="oc-orm-hof"
              aria-labelledby="offcanvasWithBothOptionsLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">1-Rep Max History for
                  {{ library_movement.movement_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
              </div>
              <div class="offcanvas-body list-of-one-rms">
                <div class="container-fluid">
                  {% for record in one_rm_records %}
                  <div class="row justify-content-between" style="line-height: 2rem;">
                    <hr style="color: ffffff;">
                    <div class="col-9">
                      {{ record.date_recorded }}: {{ record.one_rep_max }} KG
                    </div>
                    <div class="col-3" style="text-align: right; padding: 0px 0px 10px 0px;">
                      <!-- edit -->
                      <!-- get the id of the 1rm record from the button, clarified as the "data" tag -->
                      <button class="btn record-edit" type="button" data-bs-toggle="offcanvas" data-bs-target="#oc-orm-e" id="{{ record.id }}"
              aria-controls="offcanvasWithBothOptions"><i
                          class="fa-solid fa-square-pen one-rm-rbtn"></i></button>
                          
                      <!-- delete -->
                      <a href="/delete_one_rm/{{library_movement.slug}}/{{ record.id }}"><button class="btn"><i
                            class="fa-solid fa-square-xmark one-rm-rbtn"></i></button></a>
                    </div>
                  </div>
                  {% endfor %}
                  <hr style="color: ffffff;">
                </div>

              </div>
            </div>
            <!-- offcanvas for 1rm edit form -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="oc-orm-e"
              aria-labelledby="offcanvasWithBothOptionsLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Edit Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
              </div>
              <div class="offcanvas-body">
                <form id="edit-record-form" method="POST" action="/edit_one_rm/{{ library_movement.slug }}/{{ record.id }}/">
                  {{ one_rm_form }}
                  {% csrf_token %}
                  <div>
                    <p>
                      <button type="submit"><strong>add</strong></button>
                    </p>
                  </div>
                </form>
              </div>
            </div>



          </div>

        </div>
      </div>

      <!-- explanation -->
      <div class="col-12 col-lg-5 order-lg-2 col-xl-5">
        <h2>{{ library_movement.movement_name }}</h2>
        <span id="slug" style="display: none;">{{ library_movement.slug}}</span>
        {{ library_movement.directions | safe }}
      </div>
    </div>
  </div>
  {% endblock %}