{% extends "base.html" %}

{% block content %}
<head><link href="{% static 'css/account-style.css' %}" rel="stylesheet" type="text/css"></head>
<div class="conatiner-fluid edit-name-form">
    <div class="row">
        <div class="col-12 edit-name-form">
            {{ name_edit_form.as_p }}
            {% csrf_token %}
            <p class="button-box">
              <button type="submit" class="btn btn-primary fly-button">Update</button>
            </p>
        </div>
    </div>
</div>
<script src="{% static 'js/edit_profile.js' %}"></script>
<script src="{%  static 'js/auth_styling.js' %}"></script>


{% endblock %}